@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    background-color: #FDF3E5;
}

#header {
    background-color: #FDF3E5;
    padding: 100px 0;
  }
  
  @media (max-width: 767px) {
    #header {
      background-color: #FDF3E5;
      padding: 40px 0;
    }
  }

.image-size {
    width: 100%;
}


h1 {
    font-family: 'Yeseva One', cursive;
}

.h1-size {
    font-size: 80px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.p-size {
    font-size: 30px;
}

.a-font {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.p-head {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
}

.button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.button {border-radius: 100px;}

.button-2 {
    background-color: #193c85;
}

.dot-vertical {
    margin-left: 100%;
}

.dot-horizontal {
    margin-top: 10%;
    margin-right: 100%;
}